In [3]:
!pip install bs4
!pip install requests
!pip install html5lib
!pip install selenium
!pip install bs4
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')

In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import datetime
import time
import pandas as pd
from bs4 import BeautifulSoup

In [5]:
option = webdriver.ChromeOptions()
option.add_argument("--headless")
option.add_argument("--disable-gpu")
option.add_argument("--window-size=1920,1200")
option.add_argument("--ignore-certificate-errors")
option.add_argument("--disable-extensions")
option.add_argument("--no-sandbox")
option.add_argument("--disable-dev-shm-usage")

driver = webdriver.Chrome(executable_path="chromedriver", options=option)

In [6]:
search_blob = "apple"

In [7]:
driver.get("https://www.reuters.com/search/news?blob=" + search_blob + "&sortBy=date&dateRange=pastYear")
try:
    while True:
        if(driver.find_element_by_xpath("/html/body/div[4]/section[2]/div/div[1]/div[4]/div/div[4]/div[1]").text == "NO MORE RESULTS"):
            break
        driver.find_element_by_xpath("/html/body/div[4]/section[2]/div/div[1]/div[4]/div/div[4]/div[1]").click()
        time.sleep(0.1)
except:
        webpage_source = driver.page_source
        while True:
            continue
webpage_source = driver.page_source
time.sleep(10)
driver.close()

C:\Users\ANSHU\AppData\Local\Temp\ipykernel_24756\3533025564.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  if(driver.find_element_by_xpath("/html/body/div[4]/section[2]/div/div[1]/div[4]/div/div[4]/div[1]").text == "NO MORE RESULTS"):
C:\Users\ANSHU\AppData\Local\Temp\ipykernel_24756\3533025564.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath("/html/body/div[4]/section[2]/div/div[1]/div[4]/div/div[4]/div[1]").click()

In [10]:
soup = BeautifulSoup(webpage_source, 'html.parser')

In [11]:
headings = soup.find_all('h3', class_="search-result-title")

In [12]:
time_stamp = soup.find_all('h5', class_="search-result-timestamp")

In [13]:
for i in range(len(headings)):
  headings[i] = headings[i].text
  time_stamp[i] = time_stamp[i].text

In [14]:
df = pd.DataFrame(list(zip(time_stamp, headings)), columns=["TimeStamp", "Headline"])

In [15]:
df.head()

,TimeStamp,Headline
0,"June 23, 2022 03:30am EDT",Swiss detail revenue split for global minimum ...
1,"June 22, 2022 03:11pm EDT",Meta and other tech giants form metaverse stan...
2,"June 22, 2022 09:14am EDT","Shopify unveils new tools, Twitter tie-up to b..."
3,"June 22, 2022 05:55am EDT",Volkswagen CEO questions whether Apple plans t...
4,"June 21, 2022 08:15pm EDT",Wall Street gains over 2% in broad rebound

In [16]:
df.to_csv("news_" + search_blob +".csv")

# Merging latest and historical news data

In [1]:
import pandas as pd
import numpy as np

In [47]:
latest_news = pd.read_csv("news_apple.csv")
historical_news = pd.read_csv("us_equities_news_dataset.csv")

In [48]:
latest_news.head()

,Unnamed: 0,TimeStamp,Headline
0,0,"June 23, 2022 03:30am EDT",Swiss detail revenue split for global minimum ...
1,1,"June 22, 2022 03:11pm EDT",Meta and other tech giants form metaverse stan...
2,2,"June 22, 2022 09:14am EDT","Shopify unveils new tools, Twitter tie-up to b..."
3,3,"June 22, 2022 05:55am EDT",Volkswagen CEO questions whether Apple plans t...
4,4,"June 21, 2022 08:15pm EDT",Wall Street gains over 2% in broad rebound

In [49]:
historical_news.head()

,id,ticker,title,category,content,release_date,provider,url,article_id
0,221515,NIO,Why Shares of Chinese Electric Car Maker NIO A...,news,What s happening\nShares of Chinese electric c...,2020-01-15,The Motley Fool,https://invst.ly/pigqi,2060327
1,221516,NIO,NIO only consumer gainer Workhorse Group amon...,news,Gainers NIO NYSE NIO 7 \nLosers MGP Ingr...,2020-01-18,Seeking Alpha,https://invst.ly/pje9c,2062196
2,221517,NIO,NIO leads consumer gainers Beyond Meat and Ma...,news,Gainers NIO NYSE NIO 14 Village Farms In...,2020-01-15,Seeking Alpha,https://invst.ly/pifmv,2060249
3,221518,NIO,NIO NVAX among premarket gainers,news,Cemtrex NASDAQ CETX 85 after FY results \n...,2020-01-15,Seeking Alpha,https://invst.ly/picu8,2060039
4,221519,NIO,PLUG NIO among premarket gainers,news,aTyr Pharma NASDAQ LIFE 63 on Kyorin Pharm...,2020-01-06,Seeking Alpha,https://seekingalpha.com/news/3529772-plug-nio...,2053096

In [50]:
apple_historical_news = historical_news.loc[historical_news['ticker']=="AAPL"].drop(["ticker", "category", "content","id", "provider","article_id", "url"], axis=1)
apple_historical_news

                                                   title release_date
49183          JPMorgan cautious ahead of Apple earnings   2020-01-28
49184        FAANG s Fall  but Get Some Wall Street Love   2020-01-28
49185  Wall Street tumbles as virus fuels economic worry   2020-01-28
49186  Earnings Watch  Apple and AMD to take earnings...   2020-01-28
49187        Day Ahead  Top 3 Things to Watch for Jan 28   2020-01-28
...                                                  ...          ...
69409               Waiting For Direction On The Markets   2012-07-16
69410  Mid Year Update  U S  And Canadian Stock Marke...   2012-07-19
69411               Summer Heat Scorches Europe And U S    2012-07-23
69412     Apple Earnings Preview  Quarterly Dip On Deck    2012-07-23
69413                         Trade Apple After Earnings   2012-07-23

[20231 rows x 2 columns]

In [51]:
apple_historical_news.head()

                                                   title release_date
49183          JPMorgan cautious ahead of Apple earnings   2020-01-28
49184        FAANG s Fall  but Get Some Wall Street Love   2020-01-28
49185  Wall Street tumbles as virus fuels economic worry   2020-01-28
49186  Earnings Watch  Apple and AMD to take earnings...   2020-01-28
49187        Day Ahead  Top 3 Things to Watch for Jan 28   2020-01-28

In [52]:
apple_historical_news.dtypes

title           object
release_date    object
dtype: object

In [53]:
latest_news.head()

,Unnamed: 0,TimeStamp,Headline
0,0,"June 23, 2022 03:30am EDT",Swiss detail revenue split for global minimum ...
1,1,"June 22, 2022 03:11pm EDT",Meta and other tech giants form metaverse stan...
2,2,"June 22, 2022 09:14am EDT","Shopify unveils new tools, Twitter tie-up to b..."
3,3,"June 22, 2022 05:55am EDT",Volkswagen CEO questions whether Apple plans t...
4,4,"June 21, 2022 08:15pm EDT",Wall Street gains over 2% in broad rebound

In [54]:
latest_news['TimeStamp'] = pd.to_datetime(latest_news['TimeStamp']).dt.date
latest_news.head()

c:\Users\ANSHU\anaconda3\envs\gaip-tf\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
c:\Users\ANSHU\anaconda3\envs\gaip-tf\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

   Unnamed: 0   TimeStamp                                           Headline
0           0  2022-06-23  Swiss detail revenue split for global minimum ...
1           1  2022-06-22  Meta and other tech giants form metaverse stan...
2           2  2022-06-22  Shopify unveils new tools, Twitter tie-up to b...
3           3  2022-06-22  Volkswagen CEO questions whether Apple plans t...
4           4  2022-06-21         Wall Street gains over 2% in broad rebound

In [55]:
apple_historical_news['release_date'] = pd.to_datetime(apple_historical_news['release_date']).dt.date

In [59]:
latest_news.drop(["Unnamed: 0"], axis=1, inplace=True)

In [62]:
apple_historical_news.rename(columns={"title":"Headline", "release_date":"TimeStamp"}, inplace=True)

In [64]:
new_data_frame = pd.concat([latest_news, apple_historical_news])

In [70]:
new_data_frame.sort_values(by=['TimeStamp']).reset_index(inplace=True)

In [72]:
new_data_frame.to_csv("news_data_aapl.csv")